// Extends - Mobile

%mobile-h1-header {
  font-size: 1.5rem;
  line-height: 2rem;
}

%mobile-h2-sub-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

%mobile-h4-para-list-contact {
  font-size: 0.813rem;
  line-height: 1.125rem;
}

%mobile-h5 {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

// Extends - Tablet & Desktop

%desktop-h1-hero {
  font-size: 3.75rem;
  line-height: 4.25rem;
}

%desktop-h1-header {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

%desktop-h2-header {
  font-size: 1.5rem;
  line-height: 2rem;
}

%desktop-h3-subheader {
  font-size: 1rem;
  line-height: 1.5rem;
}

%desktop-h4-para-comments {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

%desktop-h4-list-contact {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

%desktop-h5 {
  font-size: 0.75rem;
  line-height: 1.25rem;
}