@import './partials/typography';
@import './partials/mixins';
@import './partials/global';

/* Section - Hero */

.hero {
  @include flex(row, flex-start, center);
  background-image: url('../assets/images/hero.jpg');
  background-size: cover;
  height: 30vh;
  min-height: 183px;
  position: relative;
  @include tablet {
    min-height: 400px;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(50, 50, 50, 0.5);
  }
  &__header {
    @include mobile-h1-header;
    color: $color-light;
    position: relative;
    padding-left: 6px;
    z-index: 1;
    @include tablet {
      @include desktop-h1-hero;
    }
  }
}

/* Section - Article - About Musicians */

.article {
  &__title {
    @include mobile-h1-header;
    margin: 32px 0 24px 0;
    @include tablet {
      @include desktop-h1-header;
    }
    @include desktop {
      margin: 40px 0 36px 0;
    }
  }
  &__top {
    @include desktop {
      width: 80%;
      margin: auto;
    }
    &-image {
      width: 100%;
    }
    &-caption {
      font-size: 1rem;
      line-height: 1.375rem;
      font-weight: 600;
      margin-top: 18px;
      @include tablet {
        @include desktop-h2-header;
        font-weight: 700;
      }
    }
    &-caption-by {
      @include mobile-h2-sub-header;
      font-weight: 600;
      margin: 0;
      padding: 4px 0 16px 0;
      @include tablet {
        @include desktop-h3-subheader;
      }
    }
  }

  &__bottom {
    @extend .article__top;
    &-title {
      @include mobile-h2-sub-header;
      font-size: 1rem;
      margin: 0;
      padding: 16px 0;
      @include tablet {
        @include desktop-h2-header;
        padding-top: 24px;
      }
    }
  }

  &__bottom-container {
    padding-bottom: 12px;
    @include tablet {
      @include flex(row, space-between, center);
    }
    &-paragraph {
      @include mobile-h4-para-list-contact;
      padding-bottom: 18px;
      @include tablet {
        @include desktop-h4-para-comments;
        width: 50%;
        &:nth-of-type(1) {
          margin-right: 14px;
        }
        &:nth-of-type(2) {
          margin-left: 14px;
        }
      }
    }
  }
}

/* Section - Gallery */

.gallery {
  padding: 32px 0 30px 0;
  background-color: #FAFAFA;
  &__container {
    &-title {
      @include mobile-h1-header;
      margin: 0 0 12px 0;
      @include tablet {
        @include desktop-h1-header;
        margin: 20px 0 22px 0;
      }
      @include desktop {
        margin: 20px 0 36px 0;
      }
    }
    &-block {
      @include flex (column, flex-start, center);
      width: 100%;
      @include tablet {
        @include flex (row, space-between, center);
        flex-wrap: wrap;
      }
      &-wrapper {
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 6px 0;
        padding: 0;
        @include tablet {
          width: 31%;
          margin: 12px 0;
          &:nth-of-type(3n+2) {
            margin-right: 24px;
            margin-left: 24px;
          }
        }
        &-img {
          width: 100%;
          @include pointer {
            filter: grayscale(100%);
            transition: all 0.5s;
            &:hover {
              filter: none;
            }
          }
        }
      }
    }
  }
}