@import './partials/typography';
@import './partials/mixins';
@import './partials/global';

/* Section - Hero */

.hero {
  @include flex(row, flex-start, center);
  background-image: url('../assets/images/hero-shows.jpg');
  background-size: cover;
  height: 80vh;
  min-height: 460px;
  position: relative;
  @include tablet {
    min-height: 400px;
  }
  &__container {
    position: relative;
    z-index: 1;
    &-subtitle {
      @include mobile-h2-sub-header;
      font-weight: 600;
      color: $color-light;
      margin-top: 54px;
    }
    &-block {
      &-title {
        @include mobile-h1-hero;
        margin: 14px 0 54px 0;
        font-weight: 700;
        color: $color-light;
      }
      &-iframe {
        &-embed {
          height: 120px;
        }
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(50, 50, 50, 0.5);
  }
  // &__header {
  //   @include mobile-h1-header;
  //   color: $color-light;
  //   position: relative;
  //   padding-left: 6px;
  //   z-index: 1;
  //   @include tablet {
  //     @include desktop-h1-hero;
  //   }
  // }
}