@import './partials/typography';
@import './partials/mixins';
@import './partials/global';

/* Section - Hero */

.hero {
  @include flex(row, flex-start, center);
  height: 80vh;
  min-height: 460px;
  max-height: 600px;
  position: relative;
  @include tablet {
    // min-height: 400px;
  }
  &__container {
    @include flex(column, center, flex-start);
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    &-subtitle {
      @include mobile-h2-sub-header;
      font-weight: 600;
      color: $color-light;
      margin-top: 54px;
    }
    &-block {
      &-title {
        @include mobile-h1-hero;
        margin: 14px 0 54px 0;
        font-weight: 700;
        color: $color-light;
      }
      &-iframe {
        &-embed {
          height: 120px;
          width: 100%;
        }
      }
    }
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    max-height: inherit;
    left: 0;
    right: 0;
    top: 90px;
    bottom: 0;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(50, 50, 50, 0.5);
    }
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}